<h1 class="text-center">Sad pets looking for owners</h1>

<ul class="list-inline my-3">
  <% @pets.each do |pet| %>
    <li class="mb-3">
      <%= link_to pet.name, pet_path(pet) %> (<%= pet.species %>) - Found: <%= pet.found_days_ago %>
      <%= link_to pet_path(pet), class: "text-danger", method: :delete, data: { confirm: "Are you suwa?" } do %>
        <i class="fas fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="d-flex justify-content-center">
  <%= link_to "Add a pet", new_pet_path, class: "btn btn-primary" %>
</div>
