<h1>Sad pets looking for owners</h1>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= pet.name %> (<%= pet.species %>) - Found: <%= pet.found_days_ago %>
      <%= link_to "Delete", pet_path(pet), method: :delete, data: { confirm: "Are you suwa?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a pet", new_pet_path, class: "btn btn-primary" %>
